In [3]:
import pandas as pd
df = pd.read_csv("46343.csv")
df2 = pd.read_csv("759667.csv")

combined_df = pd.concat([df, df2], ignore_index=True)

combined_df.head()

   cosine_feature  count_feature  hr_feature  time_feature  psg_label
0       -0.258819      38.634412    0.524519      0.000000          0
1       -0.260926      31.640606    0.514774      0.008333          0
2       -0.263031      22.570999    0.497230      0.016667          0
3       -0.265135      19.341522    0.489079      0.025000          0
4       -0.267238      21.960207    0.482398      0.033333          0

In [4]:
x = combined_df[['cosine_feature', 'count_feature', 'hr_feature', 'time_feature']]
y = combined_df['psg_label']

In [5]:
x

      cosine_feature  count_feature  hr_feature  time_feature
0          -0.258819      38.634412    0.524519      0.000000
1          -0.260926      31.640606    0.514774      0.008333
2          -0.263031      22.570999    0.497230      0.016667
3          -0.265135      19.341522    0.489079      0.025000
4          -0.267238      21.960207    0.482398      0.033333
...              ...            ...         ...           ...
1000       -0.958820       0.288989    0.670869      3.900000
1001       -0.959437       0.562428    0.693712      3.908333
1002       -0.960050       1.016407    0.717479      3.916667
1003       -0.960658       1.695372    0.742948      3.925000
1004       -0.961262       2.609195    0.742233      3.933333

[1005 rows x 4 columns]

In [6]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1000    5
1001    1
1002    0
1003    1
1004    1
Name: psg_label, Length: 1005, dtype: int64